@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Rubik:ital,wght@0,300;0,400;1,300&display=swap');
// fonts for the project
$titles-font-family: 'Nunito Sans', sans-serif;
$paragraphs-font-family: 'Rubik', sans-serif;
//fonts colors
$black-color: #191A1F;
$white-color: #fff;
$gray-color: #595D69;
//general background colors
$primary-color: #2164E8;
$secondary-color: #E9EFFD;
$tertiary-color: #191A1F;
$quaternary-color: #111216;
//tags background colors
$subscribe-color: #D7293D;
$trending-color: #2164E8;
$technology-color: #F7C32D;
$lifestyle-color: #D7293D;
$business-color: #0FBC87;
$sport-color: #509EF8;
// transition
$transition: all 0.4s ease-in-out;
// screen sizes:
$very-small-screen: 31.25em;//mobile 500px
$small-screen: 48.125em;//mobile 770px
$medium-screen: 56.25em;//tablet 900px
$large-screen: 64em;//desktop 1024px
$extra-large-screen: 1800px;//large desktop
// restyling the root
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;//1rem = 10px
    @media only screen and (max-width: $large-screen) {
        font-size: 50%;//1rem = 8px
    }
    @media only screen and (max-width: 346px) {
        font-size: 37.5%;//1rem = 6px
    }
}
// because of we work with react we need to set the height and width of the App to 100%
.App {
    width: 100vw;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: [full-start] minmax(3rem,1fr) [center-start] repeat(8, [col-start]1fr[col-end]) [center-end] minmax(3rem,1fr) [full-end];
    @media only screen and (max-width: $very-small-screen) {
        grid-template-columns: [full-start] 1rem [center-start] repeat(8, [col-start]1fr[col-end]) [center-end] 1rem [full-end];

    }
}