.Footer{
    background-color:$quaternary-color;
    grid-column: full-start / full-end ;
    color: $white-color;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    padding: 3rem 9rem;
    align-items: center;
    &__text{
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.6;
        margin: 0;
        span{
            color: red;
            font-size: 2rem;
        }
    }
    &__links{
        justify-self: end;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        a{
            color: $white-color;
            font-size: 1.4rem;
            font-weight: 400;
            text-decoration: none;
            &:hover{
                color: $primary-color;
            }
        }
        &__languages {
            text-align: center;
            font-size: 1.4rem;
            font-weight: 500;
            background-color: $gray-color;
            color: $white-color;
            li{
                padding: 0.5rem 0;
                cursor: pointer;
                transition: $transition;
                &:hover{
                    color:$secondary-color;
                    scale: 1.1;
                }
            }
        }
    }
}